@page "/about"

<div class="card">
    <div class="about-section">
        <h1>Fitness Application</h1>
        <p>This was the project assigment for <b>.Net</b> course.</p>
        <p>The gola of this application is to allow the management of multiple gyms and help the verification of sold meberships.
            The application sholud be userfrendly.</p>
    </div>

    <h2 style="text-align:center">Created by:</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="/assets/proflie.jpg" alt="Attila" style="width:100%">
                <div class="container">
                    <h2>Attila Hammas</h2>
                    <p class="title">Computer Science student at Sapientia Univerity</p>
                    <p>GitHub: https://github.com/hammasattila</p>
                </div>
            </div>
        </div>
    </div>
</div>