<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <AuthorizeView>
            <Authorized>
                @foreach (var item in menuItems)
                {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@item.path" Match="NavLinkMatch.All">
                        <span class="oi oi-@item.icon" aria-hidden="true"></span> @item.label
                    </NavLink>
                </li>
                }
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="administration" Match="NavLinkMatch.All">
                    <span class="oi oi-people" aria-hidden="true"></span> User management
                </NavLink>
            </li>
        </AuthorizeView>
    </ul>
</div>

@code {
    private (string icon, string path, string label)[] menuItems = {
("dashboard", "", "Dashboard"),
("people", "clients", "Clients"),
("layers", "memberships", "Passes"),
("map", "gyms", "Gyms"),
("info", "about", "About")
};

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
